/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}

table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/**
 * Basic Typography
 */
 
html {
margin: 0;
padding: 0;
height: 100%;
}

body {

margin: 0;
padding: 0;
height: 100%;
	line-height:1.5;
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #222;
    background: #fff;
    margin: 0px 1.5em;
	/*margin-bottom: 0px; margin-top: 0px;*/
    background: url(../img/ribbon.png) top right no-repeat;
}
a[href], small a {
    cursor: pointer;
    color: #436976;
    background-color: transparent;
}

a:hover {
    color: #0063AC;
}
h1, h2, h3, h4, h5, h6 {
    color: #003a6b;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}
h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #fcb100;
}
h2 {
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #aaa;
}
h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

small {
    font-size: 11px;
}

#auth {
    -moz-border-radius: 0 0 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font: 13px/16px 'Helvetica Neue','Arial','Helvetica',serif;
    height: 29px;
    right: 200px;
    padding: 12px 17px 0;
    position: fixed;
    text-align: left;
    top: 0;
}
#auth a {
    color: white;
}

#feedback-button {
    background: #404040;
    border: 1px solid #777;
    cursor: pointer;
    display: block;
    left: -1px;
    padding: 5px 0;
    position: fixed;
    top: 200px;
}

/* Page */
#global {
	width: 100%; /* -> 3 */
	height: 100%;
	overflow: hidden; /* -> 3 */
}

/* En-tête */
#header {
	padding: 15px 100px 10px 20px;
}

/* Right column */
#right {
	margin-top: 50px;
	width: 28%; /* -> 4 */
	float: right;
}

/* Content */
#content {
	margin-right: 30%; /* -> 6 */
	margin-top: 10px;
	padding: 0px 20px;
    position: relative;
	height:100%;
	z-index: 0;
}

#content p, #content li {
	line-height: 1.5;
}

#map {
    /*height: 512px;
    position: absolute;*/
	height: 85%;
	width:100%;
    z-index: 0;
	border: 2px solid black;
	bottom: 0px; top: 0px;
}
.important {
    font-weight: bold;
}
#maptags {
    display: none;
}
.olTile {
    /*margin: 4px;*/
    border: 1px solid transparent;
}
.olTile div {
    height: 100%;
    width: 100%;
    position: absolute;
}
.olTile div.back {
    opacity: 0.4;
    /*background-color: #df9999;*/
}
.hasTags div.back {
    background-color: grey;
}
.hover div.back {
    background-color: grey;
    opacity: 0.6;
}
.valid div.back {
    background-color: green;
}
.selected {
    border: 1px dashed #555;
}

.olControlAttribution {
    font-size: smaller; 
    right: 5px; 
    bottom: 5px; 
    position: absolute; 
    display: block;
}
.olControlPermalink {
    right: 5px;
    bottom: 25px;
    display: block;
    position: absolute;
    font-size: smaller;
} 

.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}

#right > :first-child {
	margin-bottom: 20px;
}
.ui-menu {
    z-index: 1000;
}

#location {
	position: absolute;
	top: 26px;
	left: 600px;
}
